{% extends 'base.html' %}
{% block title %}zoom link{% endblock title %}
{% block body %}

<div class="container-fluid m-5">
    <div class="d-flex justify-content-center mt-5">

        <h2>Current Meeting : <i><b>No Meetings :)</b></i></h2>
    </div>
    <div class="jumbotron">
        <div class="d-flex justify-content-center mt-4">
    
        <a href="https://zoom.us/signin"><button type="button" class="btn btn-dark">Zoom Login</b></button></a>
        </div>
    </div>
</div>

{% endblock body %}